extends layout
block content
  .container
    .row
      .col-sm-9
        h1.page-header About
        h3 An Open Platform For the Simulation of Java Card Applets
        p
          | Use this document as a way to quickly start any new project.
          br
          |  All you get is this text and a mostly barebones HTML document.
  .container
    hr
    footer
      p 
        a(href='http://www.adamnoakes.co.uk') Adam Noakes
        |  - University of Southampton 2016