extends layout
block content
  .jumbotron
    .container
     h1 Java Card Online Simulator
     p
       | Use this document as a way to quickly start any new project.
       br
       |  All you get is this text and a mostly barebones HTML document.
     p 
       a.btn.btn-primary.btn-lg(href='/simulator') Simulator »