extends layout
block content
  .jumbotron
    .container
     h1 Java Card Online Simulator
     p
       | Use this document as a way to quickly start any new project.
       br
       |  All you get is this text and a mostly barebones HTML document.
     p 
       a.btn.btn-primary.btn-lg(href='/simulator') Simulator »
  .container
    .row
      .col-md-4
        h2 Node.JS
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-md-4
        h2 Open Source
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-md-4
        h2 Heading
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-default(href='#', role='button') View details »
    hr
    footer
      p 
        a(href='http://www.adamnoakes.co.uk') Adam Noakes
        |  - University of Southampton 2016